{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -euo pipefail

echo "Installing apt packages..."
sudo apt-get update
sudo apt-get install -y \
    zsh \
    gh \
    unzip \
    npm \
    xclip \
    curl \
    wget \
    git

# pre-commit installed via pip after pyenv
{{- end }}
