## listing
alias ll='ls -lah --color=auto'
alias sl='ls'
alias lsl='ls -lah | less'
alias lsg='ls -lah --color=auto | grep -i'
alias lst="find . -type d -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"

## moving in directories
alias b="cd ../"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias src="cd ~/src/"
alias ops="cd ~/src/ops/"
alias personal="cd ~/src/personal/"
alias dotfiles="cd ~/dotfiles/"

## file copy/move
alias cpp="rsync --partial --progress --append --rsh=ssh -r -h "
alias mvp="rsync --partial --progress --append --rsh=ssh -r -h --remove-sent-files"

## network
alias whatismyip='dig +short myip.opendns.com @resolver1.opendns.com'

## syslog
alias tacg='tac /var/log/syslog | grep -i'
alias tg='tail -f /var/log/syslog | grep -i'

## package management
alias sag="sudo apt "
alias saguu="sudo apt update; sudo apt upgrade -y; sudo apt-get autoremove -y;"
alias syu="sudo yum upgrade -y"
alias syi="sudo yum install "
alias sys="sudo yum search "

## vim
alias scratch="vim +startinsert ~/tmp/scratch"
alias vimn='vim -u NONE'

## vagrant
alias vdf="vagrant destroy -f"
alias vdfu="vagrant destroy -f && vagrant up"

## terraform
alias tf='terraform'

## misc
alias :q="exit"
alias c="clear"
alias duh="du -h --max-depth=1 | sort -n"
alias weather="curl http://wttr.in/portland"
alias dropboxstatus="sudo docker exec -it dropbox /bin/bash -c \"dropbox status\""

## programming
alias cdc="cd ~/src/github/stricklin/ && ls"
alias cdd="cd ~/src/ops/ && ls"

### git functions and aliases
alias cleanbranches="git branch --merge | egrep -v '\''(^\*|master)'\'' | xargs git branch -d"
alias gs="git status"
alias gmp="git checkout master && git pull"
alias gd="git diff"
alias gforce="git commit -a --amend --no-edit && git push --force"
alias gi='gi() { for arg in $@; do echo $arg >> ./.gitignore; done }; gi'
alias co='git checkout'

## Provisimus
alias pro="provisimus"
alias pro-qa="provisimus --aws-profile jama-qa"

## Hoipolloi
alias hoi='hoipolloi.py client --servername pit'

## ssh
alias add_keys="ssh-add -K ~/.ssh/work_rsa ~/.ssh/bootstrap.pem ~/.ssh/bootstrap-qa.pem"
alias tunnel-bear="tunnel open or1.kitchensink.jama 8501 8500;tunnel open or2.kitchensink.jama 8502 8500;tunnel open or3.kitchensink.jama 8503 8500;tunnel open or4.kitchensink.jama 8504 8500;tunnel open eu1.kitchensink.jama 8505 8500;tunnel open au1.kitchensink.jama 8506 8500;tunnel open eng1.kitchensink.jama 8507 8500;tunnel open eng2.kitchensink.jama 8508 8500"

## unfuck vpn
alias vpn-route="sudo route change default $(netstat -rn | grep -m 1 gpd0 | awk '{print $2}')"
